body{
    font-family: 'Oswald';
    margin: 0;
    padding: 0;
    background-color: #15161b;
}


header{
    display: flex;
    justify-content: center;

}
.logo h2{
    color: #fff;
    font-size: 30px;
    

}

.logo span{
    color:#1A7993;
}

.section-1{
    display: flex;
    justify-content: center;
    
}
.area-title h3{
    color: #fff;
    font-weight: normal;
    
}
.area-title h1{
    color: #fff;
    font-size: 45px;
    line-height: 50px;
    margin-top: -18px;
}
.area-title a{
    display: inline-block;
    background-color: #1A7993;
    padding: 15px 60px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.image1 img{
    width: 380px;
    height: auto;
    margin-top: 20px;
    margin-left: 55px;
}
/*Area cards */

.section-cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 400px;
}

.section-cards h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    
}

.cards{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.card{
    background-color:#2C2F37;
    width: 200px;
    height: 180px;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.card:hover{
    background-color: #1A7993;
    transition: 0.3s all;

}
.card img{
width: 65px;
}



/*SECTION-3 */


.section-3{
    background-color: #1A7993 ;
    height: 342px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

}

.area-title-2 h1{
    color: #fff;
    font-size: 35px;
}

.area-title-2 h3{

    color: #fff;
    font-size: 20px;
    font-weight: normal;
    margin-top: -26px;
}
.area-title-2 a{
    display: inline-block;
    background-color: #fff;
    padding: 20px 85px;
    font-size: 19px;
    font-weight: bold; 
    cursor: pointer;
}

.image2 img{
    width: 280px;
    height: auto;
    margin-top: 5px;
    margin-left: 100px;

}

/* formulario */

.area-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    flex-direction: column;
}

.area-form h2{
    color: #fff;
    text-align: center;
}
.form form{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.form input{
    margin-top: 20px;
    padding-left: 10px;
    height: 40px;
    border: none;
    outline: none;

}
input::placeholder{
    color: #000;
    text-transform: uppercase;
    
}

input[type="submit"]{
    background-color: #1A7993;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    height: 55px;
    cursor: pointer;
}

.social h3{
    color: #fff;
    font-weight: normal;
    

}
